@import './Theme.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#app {
    height: 100%;
}

body {

    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: var(--app-font-size);
    font-family: var(--app-font-family);
    background-color: var(--very-light-purple);
    line-height: 1.5;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1300px;
}

nav {
    margin: 30px 20px 4px 20px;
}

footer {
    display: flex;
    justify-content: center;

    margin: 0;
}

h3,
h4 {
    font-weight: 600;
    color: var(--black-color);
}

h3 {
    font-size: 30px;
    max-width: 150px;
    white-space: nowrap;
}

h4 {
    font-size: 19px;
    text-align: center;
}

p,
span {
    text-align: center;
    color: var(--bluey-grey);
}

p {
    font-size: 14px;
}

span {
    font-size: 12px;
}

ul {
    list-style: none;
}

input[type="search"] {
    cursor: pointer;
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    padding-left: 40px;

}

input[type="search"]::placeholder {

    color: #bbb;
}

input[type="search"]:focus {
    position: relative;
    max-width: 200px;
    height: 50px;
    box-shadow: 0px 3px 16px 0 rgba(216, 220, 237, 0.52);
    background-color: #fff;
    outline: none;
}



.container {
    padding: 0;
}

.icon-hover {
    position: relative;

    &:hover {
        color: blue;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 100%;
            width: 100%;
            border-bottom: 1px solid blue;
        }
    }
}

.card {
    width: 300px;

    border-radius: 4px;
    box-shadow: var(--shadow);
    background-color: var(--white-color);

    &:hover {
        border: 1px solid var(--light-royal-blue);
    }

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;


        .btn {
            border: none;
            cursor: pointer;
            font-size: 14px;
            color: var(--cloudy-blue);
            background-color: transparent;
        }
    }

    .avatar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .avatar {
        width: 100px;
        height: 100px;
        object-fit: contain;
        border-radius: 50%;
    }

    .rating-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
        border-top: 1px solid var(--pale-grey);
        border-bottom: 1px solid var(--pale-grey);
    }

    .stars {
        display: flex;
        margin: auto 20px;
    }

    .rating-info {
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .container {
        height: 40px;
    }

    .footer-btn {
        width: 100%;
        height: 100%;
        font-size: 12px;
        border: none;
        cursor: pointer;
        letter-spacing: 0.24px;
        text-align: center;
        color: var(--bluey-grey);
        background-color: transparent;
    }

    .footer-btn:hover {

        background-color: blue;
        color: white
    }
}

.search {
    position: relative
}

.search-img {
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
}

.star {
    cursor: pointer;
    margin-right: 4px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 100%;
}


.nav__btn-container {
    display: flex;
}

.nav-btn {
    cursor: pointer;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 19px 63px 20px 62px;
    margin-left: 2px;
    background-color: var(--light-royal-blue);
    color: var(--white-color);
    white-space: nowrap;

    &.inactive {
        border: solid 1px #e2e4ec;
        background-color: #f3f5fc;
        color: var(--bluey-grey);

        &:hover {
            color: var(--light-royal-blue);
        }
    }
}

.btn-right:hover {
    cursor: pointer;
    border-radius: 4px;

}

@media (max-width: 768px) {
    body {
        padding: 20px;
        display: flex;
        justify-content: center;

    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav__btn-container {
        flex-direction: column;

        margin-bottom: 20px;
    }

    .nav-btn,
    .nav-btn-inactive {
        width: 100%;
        margin-bottom: 10px;

    }

    .search {
        width: 100%;
        margin-bottom: 20px;
    }

    .search-input {
        width: 100%;
    }

    .card {
        width: 100%;
        height: auto;
    }
}