@import './Theme.scss';

html,
body,
#app {
    height: 100%;
}

body {
    margin: 0;
    font-size: var(--app-font-size);
    font-family: var(--app-font-family);
    background-color: var(--very-light-purple);
    padding: 60px 266px 358px 269px;
    line-height: 1.5;
}