:root {
    --very-light-purple: #f9fafe;
    --white-color: #ffffff;
    --light-royal-blue: #3540ff;
    --bluey-grey: #a2a8c1;
    --black-color: #0f1d38;

    --app-font-size: 16px;
    --app-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}